{% include base_path %}

<div class="affiliations">
  <a href="https://www.uni-mainz.de/" target="_blank" rel="noopener" title="Johannes Gutenberg University Mainz">
    <img src="{{ base_path }}/images/jgu_logo_cropped.svg" alt="Johannes Gutenberg University Mainz" loading="lazy">
  </a>
  <a href="https://www.bio.uni-mainz.de/imp/" target="_blank" rel="noopener" title="Institute of Molecular Physiology (imP)">
    <img src="{{ base_path }}/images/Logo-iMP-english.png" alt="Institute of Molecular Physiology (imP)" loading="lazy">
  </a>
  <a href="https://www.imb.de/research/our-research-groups/stelzl/research" target="_blank" rel="noopener" title="Institute of Molecular Biology (IMB)">
    <img src="{{ base_path }}/images/imb.png" alt="Institute of Molecular Biology (IMB)" loading="lazy">
  </a>
</div>
